@tailwind base;
@tailwind components;
@tailwind utilities;

.quill {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.quill .ql-container {
	flex: 1;
	overflow: auto;
}

.quill .ql-toolbar {
	background: white;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.quill .ql-container {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.ql-editor {
	font-size: 18px !important;
}

.ql-editor p {
	font-size: 18px !important;
}

.ql-editor h1 {
	font-size: 32px !important;
}

.ql-editor h2 {
	font-size: 24px !important;
}

.ql-editor strong {
	font-weight: bold;
}

.line-clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.animate-scroll {
	animation: scroll 10s linear infinite;
}

/* Pause animation on hover */
.animate-scroll:hover {
	animation-play-state: paused;
}
@layer base {
  :root {
		--radius: 0.5rem;
	}
}
